.margin-top-10 {margin-top: 10px}
.margin-bottom-10 {margin-bottom: 10px}
.padding-global {padding: 10px;}
.padding-global-5 {padding: 5px;}
.vertical-middle {vertical-align: middle !important}
.bold-text {font-weight: bold;}
.align-center-mg {padding-left: 50px !important;}
.float-left {float: left}
.float-right {float: right}
.both {clear: both}
/* CSS MAIN */
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.imageThumb {width: 110px; height: 110px; border: 1px solid #ccc; padding: 2px; margin:5px 5px 0px 0px;}
.image-each {position: relative; display: block}
.remove-img {position: absolute; background: url(../images/remove.gif) no-repeat; width: 20px; height: 20px; right: 4px; top: 8px; cursor: pointer}
.alert-beautiful {padding: 8px; margin:5px 0px 5px 0px; padding: 5px;}
.main-lvl-parent {border: 1px solid #ccc; padding: 5px; background: #ccc;}
.hot-deal-each .box-success img {border: 1px solid #ccc;}
.main-hotdeal {background: #ffffff}
.around-search {background: #fff; border-top: 2px solid #ccc; padding: 10px; width: 97%; margin: auto; margin-bottom: 10px; box-shadow: 0 1px 1px rgba(0,0,0,0.1); border-radius: 3px;}
.padding-b-remove {padding-left: 0px;}
#search-view {width: 100%; margin-bottom: 5px;}
#search-view ul {list-style: none; padding: 0px;}
#search-view ul li {display: inline; border: 1px solid #ccc; margin-right: 10px; padding: 3px; border-left: 3px solid blue;}
#search-view ul li a {color: #000; font-weight: bold;}
